<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="”robots”" content="”noindex, nofollow”" />
        <link rel="stylesheet" href="./../static/css/normalize.css" />
        <link rel="stylesheet" href="./../static/css/all.min.css" />
        <link rel="stylesheet" href="./../static/css/app.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="./../static/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="./../static/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="./../static/favicon_io/favicon-16x16.png" />
        <link rel="manifest" href="./../static/favicon_io/site.webmanifest" />
        <title>Kennedy Chidiebere O.</title>
    </head>
    <body>
        <!-- ========== Full Cover ========== -->
        <div id="ext">
            <!-- ========== Upper layer ========== -->
            <div id="tp">
                <div id="logo">
                    <div>Portfolio</div>
                </div>
                <div id="nav">
                    <ul>
                        <li class="bt">Home</li>
                        <li class="bt">About</li>
                        <li class="bt">Work</li>
                        <li class="bt">Projects</li>
                        <li class="bt">Contact</li>
                    </ul>
                </div>
            </div>

            <!-- ========== Middle layer ========== -->
            <!-- Homepage -->
            <div class="md hm" id="hm">
                <div class="lt">
                    <div id="n1">
                        <h1>Hi, I'm Kennedy</h1>
                        <p>A passionate, highly motivated, goal-oriented FullStack Web Developer, enjoy working as part of a team, proficient in HTML, CSS, JavaScript, React.js, Redux, Node.js, Python, Flask, Bootstrap, C++ (basic knowledge), MongoDB, Docker, Kubernetes.</p>
                        <a href="./../static/file/resume.pdf" download="Resume">
                            <button>Download Resume</button>
                        </a>
                    </div>
                </div>
                <div class="mid">
                    <div id="profile_pic"></div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- About Page -->
            <div class="md abt closed" id="abt">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Education</h2>
                    </div>

                    <div id="univ">
                        <h3>Imo State University</h3>
                        <h5>Bachelor of Medicine, Bachelor of Surgery [M.B.B.S]</h5>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">October 2022</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Owerri, Imo State, Nigeria</p>
                        </div>
                    </div>

                    <div id="tech">
                        <h3>Web Development</h3>
                        <h5>Pirple.com || Udemy.com || Coursera.com</h5>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">February 2019 - Current</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Owerri, Imo State, Nigeria</p>
                        </div>
                    </div>
                </div>
                <div class="mid">
                    <div class="title" style="display: block; visibility: visible">
                        <h2 style="font-family: Nunito Bold">Skill</h2>
                    </div>

                    <div id="skill">
                        <ul>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="vscode-icons:file-type-html" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>HTML 5</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="vscode-icons:file-type-css" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>CSS 3</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="vscode-icons:file-type-js-official" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>JavaScript</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="skill-icons:react-dark" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>React JS</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="skill-icons:redux" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>Redux</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="devicon:nodejs" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>Node JS</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="logos:python" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>Python</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="logos:selenium" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>Selenium</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="devicon:git" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>Git</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="file-icons:flask" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>Flask</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="devicon:cplusplus" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>C++</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="skill-icons:mongodb" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>MongoDB</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="logos:docker-icon" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>Docker</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <iconify-icon icon="logos:kubernetes" width="100%" height="100%" style="display: contents"></iconify-icon>
                                </div>
                                <p>kubernetes</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->

                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Work Page -->
            <div class="md wk closed" id="wk">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>RedRock Technologies Ltd</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">June 2020 - September 2021</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>

                        <ul>
                            <li>Led a team as a full stack developer in the development and maintenance of the REDROCK Inventory Management System [RIMS].</li>
                            <li>Designed and implemented a user interface that was accessible, responsive, and provided an exceptional user experience across all devices.</li>
                            <li>Developed and managed a Rest API using Node.js, integrating PayStack payment gateway and ensuring seamless data synchronization across a network of clients for RIMS.</li>
                            <li>Assisted in maintaining code quality, organization, and automation for other web applications owned by the company.</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/RedRock-IMS">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title" style="visibility: hidden">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>MEDSOPH</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">September 2021 - February 2023</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>

                        <ul>
                            <li>Collaborated with a team of 5 developers and designers to successfully develop the company's cutting-edge online healthcare platform, enabling delivery of superior medical services to clients and patients.</li>
                            <li>Employed object-oriented programming principles to create highly efficient and dependable web solutions tailored to meet the specific requirements of clients.</li>
                            <li>Architected and executed robust database solutions, allowing for seamless data processing, storage, and prompt accessibility.</li>
                            <li>Demonstrated proficiency in an extensive tech stack including HTML5, CSS, JavaScript, React + Redux, Node.js, and MongoDB.</li>
                        </ul>
                        <button>
                            <a href="https://medsoph.kennedyc.me">Webpage</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title" style="visibility: hidden">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>Markie Stores</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">March 2023 - August 2023</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>
                        <ul>
                            <li>Designed and developed responsive web applications utilizing React.js + Redux, and Node.js, guaranteeing a superior user experience and compatibility across various browsers.</li>
                            <li>Collaborated effectively with cross-functional teams to gather requirements, create detailed technical specifications, and implement scalable solutions for intricate business obstacles.</li>
                            <li>Successfully integrated RESTful APIs and incorporated third-party services, including payment gateways and social media platforms, to optimize functionality and streamline user interactions.</li>
                            <li>Conducted comprehensive testing and debugging to meticulously identify and resolve performance issues, resulting in the delivery of flawless code for seamless website performance.</li>
                        </ul>
                        <button>
                            <a href="https://makkie.kennedyc.me">Webpage</a>
                        </button>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Project Page -->
            <div class="md pgt closed" id="pgt">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Side Projects</h2>
                    </div>

                    <div class="work">
                        <h3>Portfolio Website</h3>
                        <ul>
                            <li>My Portfolio</li>
                            <li><span style="font-weight: 600">Tech Stack: </span>HTML, CSS, Vanilla JS, Python, Flask</li>
                        </ul>
                        <button>
                            <a href="https://kennedyc.me">View</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>Arbitrage App</h3>
                        <ul>
                            <li>A python app for calculating arbitrage opportunities, across multiple betting sites.</li>
                            <li>Data is gotten by web scrapping, with the use of Selenium and BeautifulSoup python modules, ......</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Arbitrage">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>Forex Trading App</h3>
                        <ul>
                            <li>A python app for Forex trading, that connects to MT5, places a trade, monitors Stop Losses and Profit, closes unfavorable trades.</li>
                            <li><span style="font-weight: 600">Tech Stack: </span>HTML, CSS, Vanilla JS, Python, Flask</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Forex-auto-trader">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Contact Page -->
            <div class="md cont closed" id="cont">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Contact</h2>
                    </div>

                    <div class="work">
                        <form action="https://formsubmit.co/5c55b558ad364cab6976e74ff6ce06da" method="post">
                            <div>
                                <label for="Email" style="margin-left: 5px">Email:</label> <br />
                                <input type="email" name="Email" id="email" placeholder="someone@email.com" required />
                            </div>
                            <div>
                                <label for="Subject" style="margin-left: 5px">Subject:</label> <br />
                                <input type="text" name="Subject" id="subject" placeholder="Hello" required />
                            </div>
                            <div>
                                <label for="Message" style="margin-left: 5px">Message:</label> <br />
                                <textarea name="Message" id="message" cols="100" rows="5" required>Message ........</textarea>
                            </div>
                            <input type="hidden" name="_captcha" value="false" />
                            <button type="submit">Send Message</button>
                        </form>
                    </div>
                </div>
                <div class="mid" style="display: none; min-height: calc(0.245 * 100vh)"></div>

                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>
            <!-- ========== Base ========== -->
            <!-- <div id="dn">
                <footer>
                    <p>Template Made By Me. &copy; 2022. All Rights Reserved.</p>
                </footer>
            </div> -->
            <div id="nav_m" class="nav_m">
                <ul>
                    <li class="mt h">
                        <i class="fas fa-home"></i>
                    </li>
                    <li class="mt i">
                        <i class="fas fa-info-circle"></i>
                    </li>
                    <li class="mt w">
                        <i class="fas fa-laptop-house"></i>
                    </li>
                    <li class="mt p">
                        <i class="fab fa-buffer"></i>
                    </li>
                    <li class="mt c">
                        <i class="fas fa-comment"></i>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <script src="./../static/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</html>
